<div ng-controller="register_control">
    <center>
        <form id="register_form" ng-submit="register()">
            <input type="email" id="email" placeholder="Email" ng-model="user.email" required="true"><br><br>
            <input type="text" id="username" placeholder="Username" ng-model="user.name" required="true"><br><br>
            <input type="password" id="password" placeholder="Password" ng-model="user.password" required="true"><br><br>
            <input type="password" id="password2" placeholder="Password" ng-model="user.password2" required="true"><br><br>
            <button type="submit">Register</button>
        </form>

        Welcome {{user.name}}
    </center>
</div>