#header {
    float: left;
    width: 100%;
    background-color: #efefef;
    border-bottom: 2px solid #dddddd;
    text-align: center;
    position: fixed;
    top: 0px;
    height: 65px;
}

#login_form {
    width: 20%;
    margin-top: 125px;
    min-width: 200px;
    border: 2px dashed #ddd;
    padding: 20px;

}

#register_form {
    width: 20%;
    margin-top: 125px;
    min-width: 200px;
    border: 2px dashed #ddd;
    padding: 20px;

}

