<div ng-controller="login_control">
    <center>
        <form id="login_form" ng-submit="login()">
            <input type="text" id="username" placeholder="Username" ng-model="user.name" required="true"><br><br>
            <input type="password" id="password" placeholder="Password" ng-model="user.password" required="true"><br><br>
            <button type="submit">Log in</button>
        </form>

        Welcome {{user.name}}
    </center>
</div>
